body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgrey;

}
#calculator {
    font-family: Arial, sans-serif;
    background-color: rgb(26, 17, 17);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 35%);
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: solid 2px grey;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 60%);
}
button:active{
    background-color: hsl(0, 0%, 70%);
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
}